/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  background-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  position: relative;
}

/*  */
/* navbar */
/*  */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e9eb;
}

.navbar .logo img {
  width: 70px;
}

.navbar .cart-logo {
  position: relative;
}

.navbar .cart-logo img {
  width: 50px;
}

.navbar .cart-logo span.circle {
  position: absolute;
  background-color: #ea4c89;
  right: -7px;
  text-align: center;
  color: white;
}

.navvvvv {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  border-radius: 50px;
  height: 40px;
  background-color: #fafafa;
}

#searchResults {
  position: absolute;
  top: 60px;
  z-index: 10;
  width: 200px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: whitesmoke;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #e8e9eb;
}
/*  */
/* filters */
/*  */
.filters {
  width: 20%;
  border-right: 1px solid #e8e9eb;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-container {
  margin: 50px 25px;
}

/* CATEGORIES */
.filters-container .categories,
.filters-container .colors,
.filters-container .price-range {
  border-bottom: 1px solid #e8e9eb;
  margin-bottom: 30px;

  padding: 15px;
}

.filters-container .categories .dca-container {
  line-height: 40px;
  margin: 0 20px;
}

.filters-container .categories .dca-container .diff-ca {
  display: flex;
  gap: 5px;
}

/* COLORS */
.filters-container .colors .dc-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  line-height: 70px;
}

.filters-container .colors .dc-container .diff-col {
  width: 40%;
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.text {
  margin-left: 20px;
}

/* PRICE RANGE */
.price-range {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 20px 25px 40px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  border-radius: 5px;
  border: 2px solid gray;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: black;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: black;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: white;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/*  */
/* articles-container */
/*  */
.articles-container {
  width: 60%;
}

.articles-container .articles {
  margin: 50px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  padding: 0px 0px 0px 3px;
}

.articles-container .item {
  width: 32%;
  background-color: whitesmoke;
  box-shadow: 5px 3px 15px grey;
  border-radius: 10px;
  position: relative;
}

.articles-container .item.overlay {
  position: relative;
}

.articles-container .item .img-item {
  position: relative;
  margin-bottom: 0;
}

.articles-container .product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

.articles-container .like-dislike,
.articles-container .add-cart {
  width: 30px;
  height: auto;
  position: absolute;
  top: 15px;
  cursor: pointer;
}

.articles-container .like-dislike {
  left: 15px;
  filter: grayscale(100%);
}

/* .grisouille{
  filter: grayscale(100%);
  transition: filter 0.3s ease;
} */

.articles-container .add-cart {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.9);
  stroke: orange;
  right: 15px;
}

/* .articles-container .like-dislike:hover {
  filter: none;
} */

.articles-container .item-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/*  */
/* cart */
/*  */
.cart {
  width: 20%;
  /* max-width: 300px; */
  right: 10px;
  top: 100px;
}
.cart .c-container {
  width: 100%;
  height: 750px;
  border-radius: 50px;
  background-color: whitesmoke;
  border: 2.5px solid #e8e9eb;
  /* box-shadow: 1px 1px 1px black; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart .c-container h2 {
  height: 5%;
}

.cart-item-container {
  margin: 50px 10px;
  overflow-y: scroll;
  height: 85%;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 2em; */
  border-bottom: 1px solid #e8e9eb;
  padding: 1em;
}

.cart-img-item {
  width: 40%;
}

.cart-img-item .cart-product-img {
  width: 100%;
}

.cart-item-info {
  width: 50%;
  text-align: center;
}

.cart-item-info .cart-name-item {
  font-weight: bold;
}

.cart-item-info .cart-price-item {
  font-weight: bold;
}

.quantity {
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity .plus,
.quantity .minus {
  box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantity .plus img,
.quantity .minus img {
  width: 20px;
}

.cart .c-container .bottom {
  height: 9%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.cart .c-container .bottom button {
  width: 110px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
}

.cart .c-container .bottom button:hover {
  background-color: #fff;
  cursor: pointer;
}

/*  */
/* footer */
/*  */

.footer{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-weight: lighter;
}

.footer p{
  font-weight: lighter;
}
.footer p a{
  font-weight: lighter;
  text-decoration: none;
  color: linear-gradient(206deg, #C9C9C9, #E0AED7);
}












@media (max-width: 576px) {
  /* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e8e9eb;
  } */
  
  .navbar .logo img {
    width: 20%;
  }
  
  .navbar .cart-logo {
    position: relative;
  }
  
  .navbar .cart-logo img {
    width: 40px;
  }
  
  .navbar .cart-logo span.circle {
    position: absolute;
    background-color: #ea4c89;
    right: -7px;
    text-align: center;
    color: white;
  }
  
  .navvvvv {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar input {
    display: none;
  }
  
  /* #searchResults {
    position: absolute;
    top: 60px;
    z-index: 10;
    width: 200px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: whitesmoke;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #e8e9eb;
  } */

  /*  */
  /*  */
  /*  */
  .filters {
    display: none;
  }
  /*  */
  /*  */
  /*  */
  .articles-container {
    width: 100%;
    /* background-color: #ea4c89; */
    font-size: 13px;
    text-align: center;
  }

  .articles-container .articles {
    margin: 50px 5px;
    gap: 0.8em;
  }
  
  .articles-container .item {
    width: 48%;
    /* font-size: small; */
  }  
  .articles-container .item-info .name-item{
    width: 70%;
  }
  .articles-container .item-info .price-item{
    width: 20%;
  }

  /*  */
  /*  */
  /*  */
  .cart {
    display: none;
  }
}

/* Écrans moyens (entre 576px et 992px) */
@media (min-width: 577px) and (max-width: 992px) {
  .container{
    justify-content: space-around;
  }
  .filters {
    width: 34%;
    /* background-color: #E0AED7; */
  }
  .range-input input {
    font-size: 5px;
  }
  .field input {
    font-size: 12px;
    margin-left: 5px;
  }  
  
  /*  */
  /*  */
  /*  */
  .articles-container {
    width: 65%;
    /* background-color: #ea4c89; */
  }
  .articles-container .articles {
    margin: 50px 5px;
    gap: 0.5em;
  }
  
  .articles-container .item {
    width: 32%;
    /* font-size: small; */
  }  
  .articles-container .item-info .name-item{
    width: 70%;
  }
  .articles-container .item-info .price-item{
    width: 20%;
  }
  /*  */
  /*  */
  /*  */
  .cart {
    display: none;
    width: 35%;
    top:55px;
    right: 40px;
  }
  
  .cart .c-container {
    width: 100%;
    height: 500px;
    /* top: 40px; */
    border-radius: 0;
  }
  
  .cart .c-container .bottom {
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: space-around;
  }  
  /*  */
  /*  */
  /*  */
  .footer{}
}

/* Grands écrans (à partir de 993px) */
@media (min-width: 993px) {
}
